{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Add risks</h1>
      <p class="lead">This form is to add risks to the risk register for continous monitoring...</p>
    </div>
  </div>
  <div class="container">
    <div class="form-group">

{% if submitted %}
  Your risk was added succesfully!

{% else %}
  <form action="" method=POST>
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Add Risk" class="btn btn-secondary">

  </form>
{% endif %}
</div>
</div>
  </body>
</html>

{% endblock content %}