{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

  <!--Adding a button URL planned for testing export to csv-->
  
  <br>
  
  
  <div class="container-fluid">
  <br>
  <br>

  <h2>Add Risks</h2>

    
{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="True">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
{% endif %}

{% if submitted %}
  Your risk was added succesfully!

{% else %}
<div class="form-group">
  <form action="" method=POST>
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Add Risk" class="btn btn-secondary">

  </form>
{% endif %}
</div>
</div>
  </div>
</body>
</html>
{% endblock content %}