{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <title>List of persons</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        {% if table %}
        {% render_table table %}
    {% else %}
        {% if no_results %}
          No results returned for <q>{{ no_results }}</q>
        {% else %}
          Please enter a search
        {% endif %}
    {% endif %}
    </body>
</html>