{% block content %}
<h1>Welcome to the base HTML</h1>
<!--Adding a button URL planned for testing export to csv-->
<div style="overflow-x:auto;">
<a href="{% url 'export-csv' %}" class="btn btn-secondary">Export-CSV</a>
<br>
</div>
<div class="table-responsive">
<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Risk Description</th>
        <th scope="col">Risk Mitigation</th>
        <th scope="col">Risk Owner</th>
        <th scope="col">Risk Assignee</th>
        <th scope="col">Risk Due Date</th>
        <th scope="col">Risk Status</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
       <tr>  
        {% for items in items_list.all %}  
        <th scope="row">{{ items.id }}</th>
        <td>{{ items.risk_description }}</td>
        <td>{{ items.risk_mitigation }}</td>
        <td>{{ items.risk_owner }}</td>
        <td>{{ items.risk_assignee }}</td>
        <td>{{ items.risk_due_date }}</td>
        <td>{{ items.risk_status }}</td>
        <td><a href=""><i class="fa fa-trash-o" aria-hidden="true" style="font-size: 1.2em; color: Tomato;"></i></a></td>
        <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
        </tr>

      {% endfor %} 
    </tbody>
  </table>

</div>


{% endblock content %}

</body>