{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
<br>
<br>
<!--Adding a button URL planned for testing export to csv-->
<div class="container ">
  {%  for items in items_list.all  %}
      {% if forloop.counter0|divisibleby:3 %} <div class="row text-center "> {%  endif %}
        <div class="col-sm-4 py-2 " onclick="window.location.href='{% url 'risk_details' items.id %}'" style="cursor: pointer">
            <div class="card h-100 bg-light">       
                <div class="card-content text-left">
                  <div class="card-header text-white" style="background-color: #2B7A78;">
                    <h5 class="card-title"><i class="fa fa-asterisk"></i> Project Risk {{ items.id }}</h5>            
                    </div>
                    <div class="card-body bg-light">
                      <p class="card-text text-left "><strong>Description:</strong> {{ items.risk_description }}</p>
                    <p class="card-text text-left"><strong>Mitigation:</strong> {{ items.risk_mitigation }}</p>
                    <p class="card-text text-left"><strong>Due Date:</strong>  {{ items.risk_due_date }}</p>
                    <div style="display: flex; justify-content: flex-end"><a href ="{% url 'delete_risk' items.id %}"><span style="font-size: 1em; color: Tomato; text-align: right;"><i class="fa fa-trash"></i></a>
                    </span></div>
                    </div>
                </div><!-- card content -->
            </div><!-- card -->
        </div><!-- col-md-4 -->
  {%  if forloop.counter|divisibleby:3 or forloop.last %}</div><!-- row closing --><br>{%  endif %}
  {%  endfor %}
</div><!-- container -->




</body>
</html>

{% endblock content %}