<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button><a class="navbar-brand text-light" href="/">PM Tools</a>
<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active ">
    <a class="nav-link text-light" href="{% url 'risk_register' %}">Risk Register<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item text-light">
    <a class="nav-link text-light" href="{% url 'add_risks' %}">Add Risk</a>
    </li>
    <li class="nav-item text-light">
    <a class="nav-link text-light" href="{% url 'risk_gallery' %}">Risk Gallery</a>
    </li>
    <li class="nav-item text-light">
        <a class="nav-link text-light" href="{% url 'risk_temp' %}">Risk Temp</a>
        </li>

</ul>
<form class="form-inline my-2 my-lg-0" method=POST action="{% url 'search_risks' %}">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searched">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>
</div>
</nav>